---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Main from "../layouts/Main.astro";
import BookCard from "../components/BookCard.astro";
import Hr from "@components/Hr.astro";
import data from "./data";
---

<Layout>
  <Header />
  <Main pageTitle="Books">
    <p class="mb-5">
      This is a list of books I've read. I'm trying to read more, so I'll try to
      keep this list updated.
    </p>
    <Hr />
    <div class="mt-5">
      {
        data.map(({ category, books }) => (
          <>
            <h2 class="mb-5 text-2xl font-bold">{category}</h2>
            <Hr />
            <div class="mt-5 flex flex-col gap-4">
              {books.map(book => (
                <BookCard {...book} />
              ))}
            </div>
          </>
        ))
      }
    </div>
  </Main>
</Layout>
